asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
diff-match-patch==20241021
Django==6.0.3
django-admin-multiple-choice-list-filter==0.1.1
django-background-tasks==1.2.8
django-import-export==4.4.0
django_db==0.0.7
et_xmlfile==2.0.0
idna==3.11
openpyxl==3.1.5
PyMySQL==1.1.2
python-dotenv==1.2.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
tzdata==2025.3
urllib3==2.6.3
gunicorn

